.header-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  .header {
    background-image: url("../assets/Loreal.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    gap: 10rem;
    height: 5rem;
    .user {
      display: flex;
      gap: 30px;
      justify-self: right;

      img {
        margin-left: -1rem;
      }
    }
    .logo {
      height: 85px;
      width: 270px;
    }
  }
  nav {
    display: flex;
    background-color: black;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    .navbar {
      display: flex;
      gap: 3rem;
      width: 1200px;
      justify-content: space-between;

      ul {
        width: 100%;
        display: flex;
        gap: 2.5rem;
        align-items: center;
        color: white;

        li {
          .link {
            &:hover {
              color: red;
            }
          }
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: white;
        height: 2.5rem;
        border-radius: 20px;
        padding: 0 1rem;
        font-size: 0.8rem;
      }
    }
  }
}
