@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Campton-Bold";
  src: url("../assets/fonts/CamptonBold.otf") format("opentype");
}

@font-face {
  font-family: "Campton-Light";
  src: url("../assets/fonts/CamptonBook.otf") format("opentype");
}

:root {
  --font-light: "Campton-Light";
  --font-bold: "Campton-Bold";
  margin: 0;
  padding: 0;
  font-family: var(--font-light);
}

.font-camptonlight {
  font-family: var(--font-light);
}

.font-camptonbold {
  font-family: var(--font-bold);
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
